snippet slw "StatelessWidget"
class $1 extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Container(
	    child: $2
    );
  }
}
endsnippet

snippet sfw "StatelessWidget"
class $1 extends StatefulWidget {
  @override
  State<$1> createState() => _$1State();
}

class _$1State extends State<$1> {
  @override
  Widget build(BuildContext context) {
    return Container(
	    child: $2
    );
  }
}
endsnippet
